* {
  box-sizing: border-box;
}
body {
  background-color: #1A1A23 !important;
}
.Home {
  margin-top: 200px;
  text-align: center;
  color: #AE1E1E;
}
.home-button{
  margin-top: 50px;
}

.PhaseNameCards{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
}

.PhaseNameCards > * {
  font-size: 10px;
  text-align: center;
  margin: 3px;
}

.TechniquesGrid {
  margin-left: 10px;
  margin-right: 10px;
}

.subtechnique-child{
  width: 100px;
}


